.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding: 16px;
    background-color: #ffffff;
    height: 100vh;
  }
  

  .menu-container button {
    margin-bottom: 8px;
  }

  .content-container {
    margin-left: 200px;
    padding: 16px; 
    
  }

  .padrao {
    display: flex;
    justify-content: center;
    align-items: center;;
  }

  .m-25{
    margin: 25px;
  }

